.cart{
  padding: 5px;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 27px;
  align-items: center;
}
.card-container .card img{
  width: 250px;
  height: 300px;
  margin: 10px auto;
}
.card {
  width: 280px;
}
